@charset "UTF-8";

* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

body {

  display: flex;

  flex-wrap: wrap;

  flex: 1 1 100vw;

  margin: 0px;

  background-image: url("../img/fundo-netflix.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
 
}

header,
nav,
main,
aside,
footer {

  display: flex;

  margin: 10px;

  flex: 1 1 100vw;
}

header #logo {

  display: flex;

  flex: 0 1 200px;

  justify-content: center;

  align-items: center;
}

#logo {
  width: 10%;
  
}

.campo input[type="text"],
.campo textarea,
.campo input[type="password"] {
  padding: 0.2em;
  border: 1px solid #242425;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
}

h1 {
  font-size: 2em;
  text-align: left;
  color: white;
}
button {
  border: none;
  margin-top: 7%;
  font-family: sans-serif;
  font-size: 1em;
  border-radius: 5px;
  font-size: 1.2em;
  background: red;
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(57, 173, 53, 0.5);
  display: relative;
}
.botao:hover {
  background: #181515;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}
.botao {
  cursor: pointer;
  width: 100%;
}
#Entrar {
  cursor: pointer;
}
#botao {
  color: #faf7f7;
  background: none;
}
#botao:hover {
  background: none;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}
p#linknovo {
  margin-top: 15%;
  color: #737373;
}
p#RECAPTCHA {
  margin-top: 10px;
  font-size: 13px;
  font-family: sans-serif, Arial, Helvetica;
  color: #737373;
}
.links {
  color: #737373;
  padding: 20px;
  justify-content: space-around;
  font-size: 13px;
  margin-bottom: 0px;
  align-items: center;
}
.support {
  display: flex;
  color: #b3b3b3;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 5px;
}
.saibamais {
  color: #0071eb;
}
.conteiner {
  display: flex;
  text-align: left;
}
.campo {
  color: white;
}
.grupo {
  border-style: hover;
  padding: 60px;
  margin: auto;
  width: 70%;
  height: auto;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

main {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: none;
}

footer {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  justify-content: space-around;
}

a {
  text-decoration: none;


  color: inherit;
}
dialog::backdrop {
  background-color: rgb(0 0 0 / .5);
}

dialog {
  border: none;
  position: absolute;
  top: 30%;
  left: 25%;
  padding: 10px;
  border-radius: .5rem;
  box-shadow: 0 0 1em rgb(0 0 0 / .3);
  width: 50%;
}

.carregamento{
  width: 100%;
  height: 100%;
  background: rgba(43,43,43,0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 8px solid red;
  border-top: 8px solid #f0f0f0;
  border-radius: 50%;
  box-shadow: 0 0 1em rgb(0 0 0 / .3);
  width: 50px;
  height: 50px;
  transform: (-50% , -50%);
  animation: spin 2s linear infinite;
}


@media only screen and (max-width: 717px) {
  #openMenu,
  #closeMenu {

    display: block;
  }
  body {
    background-image: none;
    background-color: black;
  }

  .grupo {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 15%;
  }
  header {
    position: absolute;
    margin-left: 10px;
    margin-top: 30px;
  }
  aside {
    display: none;
  }
  h1 {
    text-align: left;
    margin-top: 40px;
  }
  footer {
    margin: 0px;
    padding: 0%;
  }

  #openMenu {
    
    margin-left: auto;
  }

  #closeMenu {
  
    position: fixed;

 
    right: 15px;

 
    top: 15px;
  }

  nav {

    position: fixed;


    flex-direction: column;

 
    width: 100vw;

 
    height: 100vh;

  
    background: rgba(255, 255, 255, 0.8);


    justify-content: center;

    align-items: center;

   
    margin: 0;


    display: none;

    /* Invisivel */
    opacity: 0;

    transition: 0.3s;
  }

  nav a {

    margin: 3%;
  }
}
@keyframes spin {
  to {
      transform: rotate(360deg);
      animation: spin 2s linear infinite;
  }
}