@charset "UTF-8";

/* Propriedades que se aplicam a todos os elementos da página. */
* {
  /* Remove a margem externa de todos os lados do elemento. */
  margin: 0;

  /* Remove o espaçamento interno de todos os lados do elemento. */
  padding: 0;

  /* Inclui o preenchimento e a borda na largura e altura. */
  box-sizing: border-box;
}

body {
  /* Exibição flexível.                          */
  /* Torna o elemento um flex container          */
  /* e os seus elementos internos em flex-itens. */
  display: flex;

  /* Quebra de linha quando os itens não couberem na largura da tela. */
  flex-wrap: wrap;

  /* Junção de flex-grow, flex-shrink e flex-basis.  */
  /* flex-grow – Habilidade de um flex item crescer. */
  /* flex-shrink - Capacidade de redução do item.    */
  /* flex-basis – Tamanho inicial do item.           */
  flex: 1 1 100vw;

  /* Margem de todos os lados. */
  margin: 0px;

  background-image: url("../img/fundo-netflix.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

/* Formatação comum entre os elementos. */
header,
nav,
main,
aside,
footer {
  /* Cor do fundo. */
  /* Exibição flexível.                          */
  /* Torna o elemento um flex container          */
  /* e os seus elementos internos em flex-itens. */
  display: flex;

  /* Margem externa de todos os lados. */
  margin: 10px;

  /* Junção de flex-grow, flex-shrink e flex-basis.  */
  /* flex-grow – Habilidade de um flex item crescer. */
  /* flex-shrink - Capacidade de redução do item.    */
  /* flex-basis – Tamanho inicial do item.           */
  flex: 1 1 100vw;
}

/* Seletores para formatação individual. */

header {
}

header #logo {
  /* Exibição flexível.                          */
  /* Torna o elemento um flex container          */
  /* e os seus elementos internos em flex-itens. */
  display: flex;

  /* Junção de flex-grow, flex-shrink e flex-basis.  */
  /* flex-grow – Habilidade de um flex item crescer. */
  /* flex-shrink - Capacidade de redução do item.    */
  /* flex-basis – Tamanho inicial do item.           */
  flex: 0 1 200px;

  /* Cor do fundo. */

  /* Alinha os itens na vertical. */
  justify-content: center;

  /* Alinha os itens na horizontal. */
  align-items: center;
}

#logo {
  width: 10%;
}

.campo input[type="text"],
.campo textarea,
.campo input[type="password"] {
  padding: 0.2em;
  border: 1px solid #242425;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
}

h1 {
  font-size: 2em;
  text-align: left;
  color: white;
}
button {
  border: none;
  margin-top: 7%;
  font-family: sans-serif;
  font-size: 1em;
  border-radius: 5px;
  font-size: 1.2em;
  background: red;
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(57, 173, 53, 0.5);
  display: relative;
}
.botao:hover {
  background: #181515;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}
.botao {
  cursor: pointer;
  width: 100%;
}
#botao {
  color: #faf7f7;
  background: none;
}
#botao:hover {
  background: none;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}
p#linknovo {
  margin-top: 15%;
  color: #737373;
}
p#RECAPTCHA {
  margin-top: 10px;
  font-size: 13px;
  font-family: sans-serif, Arial, Helvetica;
  color: #737373;
}
.links {
  color: #737373;
  padding: 20px;
  justify-content: space-around;
  font-size: 13px;
  margin-bottom: 0px;
  align-items: center;
}
.support {
  display: flex;
  color: #b3b3b3;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 5px;
}
.saibamais {
  color: #0071eb;
}
.conteiner {
  display: flex;
  text-align: left;
}
.campo {
  color: white;
}
.grupo {
  border-style: hover;
  padding: 60px;
  margin: auto;
  width: 70%;
  height: auto;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

main {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: none;
}

aside {
}

footer {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  justify-content: space-around;
}

a {
  /* Remove a decoração padrão do elemento. */
  text-decoration: none;

  /* Definir a cor da fonte para o padrão do elemento pai. */
  color: inherit;
}

/* Altera o estilo dos elementos para serem apresentados */
/* em telas menores que 717px. */
@media only screen and (max-width: 717px) {
  #openMenu,
  #closeMenu {
    /* Retorna a visibilidade padrão. */
    display: block;
  }
  body {
    background-image: none;
    background-color: black;
  }

  .grupo {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 15%;
  }
  header {
    position: absolute;
    margin-left: 10px;
    margin-top: 30px;
  }
  aside {
    display: none;
  }
  h1 {
    text-align: left;
    margin-top: 40px;
  }
  footer {
    margin: 0px;
    padding: 0%;
  }

  #openMenu {
    /* Espaço a esquerda será preenchido automaticamente
		   colocando os itens a direita. */
    margin-left: auto;
  }

  #closeMenu {
    /* Torna a posição do elemento fixa. */
    position: fixed;

    /* Dispõe o elemento a 15px da esquerda. */
    right: 15px;

    /* Dispõe o elemento a 15px do topo. */
    top: 15px;
  }

  nav {
    /* Torna a posição do elemento fixa. */
    position: fixed;

    /* Dispõe os itens em coluna. */
    flex-direction: column;

    /* Ocupa 100% da largura da tela de exibição. */
    width: 100vw;

    /* Ocupa 100% da altura da tela de exibição. */
    height: 100vh;

    /* Cor em RGB, mais transparência. */
    background: rgba(255, 255, 255, 0.8);

    /* Alinha os itens na vertical. */
    justify-content: center;

    /* Alinha os itens na horizontal. */
    align-items: center;

    /* Remove a margem externa de todos os lados do elemento. */
    margin: 0;

    /* Oculta o elemento. */
    display: none;

    /* Invisivel */
    opacity: 0;

    /* Velocidade de transição de um estado para outro. */
    transition: 0.3s;
  }

  nav a {
    /* Margem de todos os lados. */
    margin: 3%;
  }
}
